<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title></title>
    <style>
      p {
    border-style: dashed;
    border-color: #006699;
    }

h2 {
    border-left: 6px solid #006699;
    background-color: lightgrey;

}

.center {
    margin: auto;
    width: 60%;
    padding: 10px;
}
   </style>
  </head>
  <body>
    <section class="section-inicial section-terminos">
	<div class="container">
		<div class="row">
			<div class="col-12 item-terminos">
				<h2 class="roboto-bold">Quiénes Somos</h2>
<br><br><br>
  	<div class="center">
				<p>INMOBILIARIA S.A. , inicia su actividad el 17 de Julio de 1977, encabezada por el Martillero
          Alfonso Herrera y un destacado grupo de colaboradores. La misma tiene un rápido ascenso dentro
          el mercado inmobiliario local en actividades de administración de alquileres y compra venta de
          propiedades.<br>
          Motivado por su carácter expansivo en el año 1987 se instala en su actual Local de calle 5
          Nº 779 e/ 47 y 48, el que con el tiempo es adaptado a sus necesidades, teniendo en este
          momento amplia y comodas instalaciones.<br>
          Desarrolla su actividad con la administración de alquileres y compra venta de inmuebles en
          toda Argentina.<br>
          Encontrandose hoy en dia en el nivel de las primeras empresas del sector, siendo una empresa
          lider en la administración de propiedades, y vendiendo importantes y variadas propiedades.<br>
          Ejecutan sus actividades al frente de las mismas, su Presidente el Martillero Ludovico Disanto,
          teniendo una basta experiencia en el sector y secundado por un plantel de profesionales como
          martilleros,abogados y contadores quienes estan dedicados a tiempo completo a la actividad.<br>
          Con la misión de ofrecer el mejor servicio y establecer relaciones a largo plazo con sus
          clientes.Velando por cuidar su capital y patrimonio inmobiliario.
        </p>
	</div>
			</div>
		</div>
	</div>

  </body>
</html>
